

        .body-initial {background-color: rgb(255, 255, 255);
        }
        .silex-id-1607969037716-0 {top: 180px; left: 120px; height: 1.4em; width: 60px;
        }
        .silex-id-1607969045781-3 {top: 240px; left: 120px; height: 1.4em; width: 60px;
        }
        .silex-id-1607969278753-6 {top: 40px; left: 40px; height: 20px; width: 60px;
        }
        .silex-id-1607969317221-7 {top: 80px; left: 40px; height: 20px; width: 60px;
        }
        .silex-id-1607969333428-8 {top: 40px; left: 120px; height: 20px; width: 280px;
        }
        .silex-id-1607969342991-9 {top: 80px; left: 120px; height: 20px; width: 280px;
        }
        .silex-id-1607969379944-10 {top: 120px; left: 40px; height: 20px; width: 360px;
        }
        .silex-id-1607969403355-11 {top: 180px; left: 40px; height: 20px; width: 60px;
        }
        .silex-id-1607969411658-13 {top: 240px; left: 40px; height: 20px; width: 60px;
        }
        .silex-id-1607969041470-1 {top: 180px; left: 220px; height: 1.4em; width: 60px;
        }
        .silex-id-1607969428804-15 {top: 200px; left: 200px; height: 20px; width: 20px;
        }
        .silex-id-1607969456866-16 {top: 200px; left: 300px; height: 20px; width: 20px;
        }
        .silex-id-1607969042228-2 {top: 180px; left: 320px; height: 1.4em; width: 60px;
        }
        .silex-id-1607969048517-5 {top: 240px; left: 320px; height: 1.4em; width: 60px;
        }
        .silex-id-1607969046676-4 {top: 240px; left: 220px; height: 1.4em; width: 60px;
        }
        .silex-id-1607969471307-17 {top: 260px; left: 200px; height: 20px; width: 20px;
        }
        .silex-id-1607969422665-14 {top: 260px; left: 300px; height: 20px; width: 20px;
        }
        .silex-id-1607969484263-19 {top: 180px; left: 400px; height: 20px; width: 20px;
        }
        .silex-id-1607969491912-20 {top: 240px; left: 400px; height: 20px; width: 20px;
        }
        .silex-id-1607969505882-22 {top: 180px; left: 100px; height: 20px; width: 20px;
        }
        .silex-id-1607969499368-21 {top: 240px; left: 100px; height: 20px; width: 20px;
        }
        .silex-id-1607969527278-23 {top: 320px; left: 60px; height: 64px; width: 64px;
        }
        .silex-id-1607969538480-25 {top: 400px; left: 60px; height: 64px; width: 64px;
        }
        .silex-id-1607969531788-24 {top: 320px; left: 140px; height: 140px; width: 240px; display: flex;
        }
        .background-initial {background-color: rgb(255, 255, 255); top: 5px; left: 154px; width: 466px; height: 495px;
        }
    