.CTAT--incorrect {
	box-shadow: red;
}

.column {
    float: left;
	width: 50%;
	border-right:1px solid black;
	padding: 10px;
}

input[type=radio] {
	margin-right: 10px !important;
}

div.col-lg-6 {
	border: 1px solid black;
	padding-top: 10px;
}

#step1 table tr td.CTATTextInput{
	width: 30px;
	height: 30px;
}

#step1 td {
	padding:5px;
}

#step2 {
	display: none;
}

#step3Line4Part1 {
	display: none;
}

#step3Line4Part2 {
	display: none;
}

#step3Line5Part1 {
	display: none;
}

#step3Line5Part2 {
	display: none;
}

#step3Line6Part1 {
	display: none;
}

#step3Line6Part2 {
	display: none;
}

#step3Line7Part1 {
	display: none;
}

#step3Line7Part2 {
	display: none;
}

#step4 {
	display: none;
}

#step5 {
	display: none;
}

#step6 {
	display: none;
}

.CTATTextInput {
	height: 20px;
}
