

        .body-initial {background-color: rgb(255, 255, 255);
        }
        .silex-id-1606475492024-0 {top: 40px; left: 20px; height: 80px; width: 540px;
        }
        .silex-id-1606477093557-14 {top: 210px; left: 60px; height: 210px; width: 200px;
        }
        .silex-id-1606476699720-9 {top: 140px; left: 30px; height: 420px; width: 490px; border-width: 1px;
        }
        .silex-id-1606475584865-1 {top: 600px; left: 20px; height: 20px; width: 480px;
        }
        .silex-id-1606480283992-17 {top: 630px; left: 56px; height: 20px; width: 20px;
        }
        .silex-id-1606482505217-21 {top: 630px; left: 90px; height: 30px; width: 30px;
        }
        .silex-id-1606482927213-32 {top: 820px; left: 30px; height: 20px; width: 280px;
        }
        .silex-id-1606482960728-33 {top: 860px; left: 60px; height: 20px; width: 60px;
        }
        .silex-id-1606482977646-34 {top: 860px; left: 140px; height: 20px; width: 80px;
        }
        .silex-id-1606483003191-35 {top: 860px; left: 220px; height: 1.4em; width: 100px;
        }
        .silex-id-1606483037688-36 {top: 860px; left: 320px; height: 20px; width: 40px;
        }
        .silex-id-1606483083490-38 {top: 900px; left: 60px; height: 20px; width: 60px;
        }
        .silex-id-1606483083497-39 {top: 900px; left: 140px; height: 20px; width: 80px;
        }
        .silex-id-1606483083508-41 {top: 900px; left: 320px; height: 20px; width: 40px;
        }
        .silex-id-1606483088906-42 {top: 940px; left: 60px; height: 20px; width: 60px;
        }
        .silex-id-1606483088918-43 {top: 940px; left: 140px; height: 20px; width: 80px;
        }
        .silex-id-1606483088924-44 {top: 940px; left: 220px; height: 1.4em; width: 100px;
        }
        .silex-id-1606483088930-45 {top: 940px; left: 320px; height: 20px; width: 40px;
        }
        .silex-id-1606483125505-46 {top: 1010px; left: 30px; height: 20px; width: 320px;
        }
        .silex-id-1606483188271-47 {top: 1040px; left: 50px; height: 20px; width: 200px;
        }
        .silex-id-1606483576576-55 {top: 1100px; left: 50px; height: 1px; width: 360px; border-width: 1px; border-style: solid;
        }
        .silex-id-1606483682693-58 {top: 1070px; left: 90px; height: 20px; width: 80px; font-size: 20px;
        }
        .silex-id-1606483739435-62 {top: 1070px; left: 100px; height: 20px; width: 80px;
        }
        .silex-id-1606484739440-70 {top: 1080px; left: 190px; height: 20px; width: 20px;
        }
        .silex-id-1606484757735-71 {top: 1070px; left: 200px; height: 20px; width: 80px;
        }
        .silex-id-1606484765192-72 {top: 1080px; left: 290px; height: 20px; width: 20px;
        }
        .silex-id-1606484770352-73 {top: 1070px; left: 300px; height: 20px; width: 80px;
        }
        .silex-id-1606484797376-75 {top: 1070px; left: 390px; height: 50px; width: 30px; font-size: 20px;
        }
        .silex-id-1606484871843-76 {top: 1110px; left: 90px; height: 20px; width: 80px; font-size: 20px;
        }
        .silex-id-1606484871885-82 {top: 1110px; left: 390px; height: 50px; width: 30px; font-size: 20px;
        }
        .silex-id-1606484885495-83 {top: 1150px; left: 90px; height: 20px; width: 80px; font-size: 20px;
        }
        .silex-id-1606484885550-89 {top: 1150px; left: 390px; height: 50px; width: 30px; font-size: 20px;
        }
        .silex-id-1606484897693-90 {top: 1190px; left: 90px; height: 20px; width: 80px; font-size: 20px;
        }
        .silex-id-1606484897750-96 {top: 1190px; left: 390px; height: 50px; width: 30px; font-size: 20px;
        }
        .silex-id-1606484906188-97 {top: 1140px; left: 50px; height: 1px; width: 360px; border-width: 1px; border-style: solid;
        }
        .silex-id-1606484914860-98 {top: 1180px; left: 50px; height: 1px; width: 360px; border-width: 1px; border-style: solid;
        }
        .silex-id-1606484920771-99 {top: 1220px; left: 50px; height: 1px; width: 360px; border-width: 1px; border-style: solid;
        }
        .silex-id-1606483617765-57 {top: 1070px; left: 80px; height: 150px; width: 1px; border-width: 1px; border-style: solid;
        }
        .silex-id-1606484955283-100 {top: 1070px; left: 50px; height: 20px; width: 20px;
        }
        .silex-id-1606485026589-103 {top: 1190px; left: 50px; height: 30px; width: 30px;
        }
        .silex-id-1606485007475-102 {top: 1150px; left: 50px; height: 30px; width: 30px;
        }
        .silex-id-1606484871848-77 {top: 1110px; left: 100px; height: 20px; width: 80px;
        }
        .silex-id-1606484885515-84 {top: 1150px; left: 100px; height: 20px; width: 80px;
        }
        .silex-id-1606484897713-91 {top: 1190px; left: 100px; height: 20px; width: 80px;
        }
        .silex-id-1606484871856-78 {top: 1120px; left: 190px; height: 20px; width: 20px;
        }
        .silex-id-1606484885522-85 {top: 1160px; left: 190px; height: 20px; width: 20px;
        }
        .silex-id-1606484897721-92 {top: 1200px; left: 190px; height: 20px; width: 20px;
        }
        .silex-id-1606484871865-79 {top: 1110px; left: 200px; height: 20px; width: 80px;
        }
        .silex-id-1606484885528-86 {top: 1150px; left: 200px; height: 20px; width: 80px;
        }
        .silex-id-1606484897727-93 {top: 1190px; left: 200px; height: 20px; width: 80px;
        }
        .silex-id-1606484871872-80 {top: 1120px; left: 290px; height: 20px; width: 20px;
        }
        .silex-id-1606484885536-87 {top: 1160px; left: 290px; height: 20px; width: 20px;
        }
        .silex-id-1606484897735-94 {top: 1200px; left: 290px; height: 20px; width: 20px;
        }
        .silex-id-1606484871878-81 {top: 1110px; left: 300px; height: 20px; width: 80px;
        }
        .silex-id-1606484885543-88 {top: 1150px; left: 300px; height: 20px; width: 80px;
        }
        .silex-id-1606484897742-95 {top: 1190px; left: 300px; height: 20px; width: 80px;
        }
        .silex-id-1606485295926-104 {top: 1110px; left: 50px; height: 20px; width: 20px;
        }
        .silex-id-1606767910349-1 {top: 0px; left: 10px; height: 20px; width: 50px;
        }
        .silex-id-1606769412732-12 {top: 130px; left: 20px; height: 20px; width: 55px;
        }
        .silex-id-1606768002584-2 {top: 40px; left: 10px; height: 20px; width: 55px;
        }
        .silex-id-1606770263004-18 {top: 1260px; left: 50px; height: 20px; width: 200px;
        }
        .silex-id-1606770304835-19 {top: 1300px; left: 80px; height: 150px; width: 1px; border-width: 1px; border-style: solid;
        }
        .silex-id-1606770311016-20 {top: 1330px; left: 50px; height: 1px; width: 360px; border-width: 1px; border-style: solid;
        }
        .silex-id-1606770346831-24 {top: 1450px; left: 50px; height: 1px; width: 360px; border-width: 1px; border-style: solid;
        }
        .silex-id-1606772245110-25 {top: 1300px; left: 50px; height: 20px; width: 20px;
        }
        .silex-id-1606772255317-28 {top: 1340px; left: 50px; height: 20px; width: 20px;
        }
        .silex-id-1606772255309-27 {top: 1420px; left: 50px; height: 30px; width: 30px;
        }
        .silex-id-1606770326171-22 {top: 1410px; left: 50px; height: 1px; width: 360px; border-width: 1px; border-style: solid;
        }
        .silex-id-1606772255303-26 {top: 1380px; left: 50px; height: 30px; width: 30px;
        }
        .silex-id-1606770318212-21 {top: 1370px; left: 50px; height: 1px; width: 360px; border-width: 1px; border-style: solid;
        }
        .silex-id-1606772306278-30 {top: 1540px; left: 50px; height: 1px; width: 360px; border-width: 1px; border-style: solid;
        }
        .silex-id-1606772306294-31 {top: 1580px; left: 50px; height: 1px; width: 360px; border-width: 1px; border-style: solid;
        }
        .silex-id-1606772306304-32 {top: 1620px; left: 50px; height: 1px; width: 360px; border-width: 1px; border-style: solid;
        }
        .silex-id-1606772306313-33 {top: 1660px; left: 50px; height: 1px; width: 360px; border-width: 1px; border-style: solid;
        }
        .silex-id-1606772317328-38 {top: 1510px; left: 80px; height: 150px; width: 1px; border-width: 1px; border-style: solid;
        }
        .silex-id-1606476900037-12 {top: 500px; left: 60px; height: 40px; width: 200px;
        }
        .silex-id-1606772405475-40 {top: 1790px; left: 50px; height: 1px; width: 360px; border-width: 1px; border-style: solid;
        }
        .silex-id-1606772405485-41 {top: 1830px; left: 50px; height: 1px; width: 360px; border-width: 1px; border-style: solid;
        }
        .silex-id-1606772405497-42 {top: 1870px; left: 50px; height: 1px; width: 360px; border-width: 1px; border-style: solid;
        }
        .silex-id-1606772405557-47 {top: 1720px; left: 80px; height: 150px; width: 1px; border-width: 1px; border-style: solid;
        }
        .silex-id-1606772421313-48 {top: 1750px; left: 50px; height: 1px; width: 360px; border-width: 1px; border-style: solid;
        }
        .silex-id-1606772430444-49 {top: 1690px; left: 50px; height: 20px; width: 180px;
        }
        .silex-id-1606772341775-39 {top: 1480px; left: 50px; height: 20px; width: 240px;
        }
        .silex-id-1606847854796-0 {top: 1300px; left: 90px; height: 20px; width: 80px; font-size: 20px;
        }
        .silex-id-1606847863260-1 {top: 1340px; left: 90px; height: 20px; width: 80px; font-size: 20px;
        }
        .silex-id-1606847869031-2 {top: 1380px; left: 90px; height: 20px; width: 80px; font-size: 20px;
        }
        .silex-id-1606847875118-3 {top: 1420px; left: 90px; height: 20px; width: 80px; font-size: 20px;
        }
        .silex-id-1606847883091-4 {top: 1510px; left: 90px; height: 20px; width: 80px; font-size: 20px;
        }
        .silex-id-1606772306323-34 {top: 1510px; left: 50px; height: 20px; width: 20px;
        }
        .silex-id-1606772306353-37 {top: 1550px; left: 50px; height: 20px; width: 20px;
        }
        .silex-id-1606772306332-35 {top: 1590px; left: 50px; height: 30px; width: 30px;
        }
        .silex-id-1606847905467-5 {top: 1550px; left: 90px; height: 20px; width: 80px; font-size: 20px;
        }
        .silex-id-1606847909966-6 {top: 1590px; left: 90px; height: 20px; width: 80px; font-size: 20px;
        }
        .silex-id-1606847914567-7 {top: 1630px; left: 90px; height: 20px; width: 80px; font-size: 20px;
        }
        .silex-id-1606847920789-8 {top: 1720px; left: 90px; height: 20px; width: 80px; font-size: 20px;
        }
        .silex-id-1606772405516-43 {top: 1720px; left: 50px; height: 20px; width: 20px;
        }
        .silex-id-1606772405548-46 {top: 1760px; left: 50px; height: 20px; width: 20px;
        }
        .silex-id-1606772405524-44 {top: 1800px; left: 50px; height: 30px; width: 30px;
        }
        .silex-id-1606847932578-9 {top: 1760px; left: 90px; height: 20px; width: 80px; font-size: 20px;
        }
        .silex-id-1606847937266-10 {top: 1800px; left: 90px; height: 20px; width: 80px; font-size: 20px;
        }
        .silex-id-1606847942049-11 {top: 1840px; left: 90px; height: 20px; width: 80px; font-size: 20px;
        }
        .silex-id-1606847951636-12 {top: 1300px; left: 100px; height: 20px; width: 80px;
        }
        .silex-id-1606847957514-13 {top: 1300px; left: 200px; height: 20px; width: 80px;
        }
        .silex-id-1606847964291-14 {top: 1300px; left: 300px; height: 20px; width: 80px;
        }
        .silex-id-1606847972503-15 {top: 1340px; left: 100px; height: 20px; width: 80px;
        }
        .silex-id-1606847976909-16 {top: 1340px; left: 200px; height: 20px; width: 80px;
        }
        .silex-id-1606847986067-17 {top: 1340px; left: 300px; height: 20px; width: 80px;
        }
        .silex-id-1606847992858-18 {top: 1380px; left: 100px; height: 20px; width: 80px;
        }
        .silex-id-1606847999407-19 {top: 1380px; left: 200px; height: 20px; width: 80px;
        }
        .silex-id-1606848003973-20 {top: 1380px; left: 300px; height: 20px; width: 80px;
        }
        .silex-id-1606848010736-21 {top: 1420px; left: 100px; height: 20px; width: 80px;
        }
        .silex-id-1606848016237-22 {top: 1420px; left: 200px; height: 20px; width: 80px;
        }
        .silex-id-1606848023032-23 {top: 1420px; left: 300px; height: 20px; width: 80px;
        }
        .silex-id-1606848030758-24 {top: 1300px; left: 390px; height: 50px; width: 30px; font-size: 20px;
        }
        .silex-id-1606848042706-25 {top: 1340px; left: 390px; height: 50px; width: 30px; font-size: 20px;
        }
        .silex-id-1606848048643-26 {top: 1380px; left: 390px; height: 50px; width: 30px; font-size: 20px;
        }
        .silex-id-1606848053088-27 {top: 1420px; left: 390px; height: 50px; width: 30px; font-size: 20px;
        }
        .silex-id-1606848072433-28 {top: 1510px; left: 100px; height: 20px; width: 80px;
        }
        .silex-id-1606848081619-29 {top: 1550px; left: 100px; height: 20px; width: 80px;
        }
        .silex-id-1606848087048-30 {top: 1590px; left: 100px; height: 20px; width: 80px;
        }
        .silex-id-1606848091496-31 {top: 1630px; left: 100px; height: 20px; width: 80px;
        }
        .silex-id-1606848147705-32 {top: 1510px; left: 200px; height: 20px; width: 80px;
        }
        .silex-id-1606848153280-33 {top: 1510px; left: 300px; height: 20px; width: 80px;
        }
        .silex-id-1606848159499-34 {top: 1550px; left: 200px; height: 20px; width: 80px;
        }
        .silex-id-1606848164128-35 {top: 1590px; left: 200px; height: 20px; width: 80px;
        }
        .silex-id-1606848169085-36 {top: 1630px; left: 200px; height: 20px; width: 80px;
        }
        .silex-id-1606848178846-37 {top: 1550px; left: 300px; height: 20px; width: 80px;
        }
        .silex-id-1606848183616-38 {top: 1590px; left: 300px; height: 20px; width: 80px;
        }
        .silex-id-1606848188626-39 {top: 1630px; left: 300px; height: 20px; width: 80px;
        }
        .silex-id-1606848206867-41 {top: 1720px; left: 100px; height: 20px; width: 80px;
        }
        .silex-id-1606848206879-42 {top: 1760px; left: 100px; height: 20px; width: 80px;
        }
        .silex-id-1606848206908-45 {top: 1720px; left: 200px; height: 20px; width: 80px;
        }
        .silex-id-1606848206919-46 {top: 1720px; left: 300px; height: 20px; width: 80px;
        }
        .silex-id-1606848206929-47 {top: 1760px; left: 200px; height: 20px; width: 80px;
        }
        .silex-id-1606848206962-50 {top: 1760px; left: 300px; height: 20px; width: 80px;
        }
        .silex-id-1606848235086-53 {top: 1510px; left: 390px; height: 50px; width: 30px; font-size: 20px;
        }
        .silex-id-1606848235095-54 {top: 1550px; left: 390px; height: 50px; width: 30px; font-size: 20px;
        }
        .silex-id-1606848235107-55 {top: 1590px; left: 390px; height: 50px; width: 30px; font-size: 20px;
        }
        .silex-id-1606848235117-56 {top: 1630px; left: 390px; height: 50px; width: 30px; font-size: 20px;
        }
        .silex-id-1606848244415-57 {top: 1720px; left: 390px; height: 50px; width: 30px; font-size: 20px;
        }
        .silex-id-1606848244445-58 {top: 1760px; left: 390px; height: 50px; width: 30px; font-size: 20px;
        }
        .silex-id-1606848244456-59 {top: 1800px; left: 390px; height: 50px; width: 30px; font-size: 20px;
        }
        .silex-id-1606848206889-43 {top: 1800px; left: 100px; height: 20px; width: 120px;
        }
        .silex-id-1606848206899-44 {top: 1840px; left: 100px; height: 20px; width: 60px;
        }
        .silex-id-1606772405534-45 {top: 1840px; left: 50px; height: 30px; width: 30px;
        }
        .silex-id-1606772306344-36 {top: 1630px; left: 50px; height: 30px; width: 30px;
        }
        .silex-id-1606848303412-61 {top: 1840px; left: 180px; height: 20px; width: 60px;
        }
        .silex-id-1606848308535-62 {top: 1840px; left: 260px; height: 20px; width: 60px;
        }
        .silex-id-1606848341133-64 {top: 1840px; left: 340px; height: 20px; width: 60px;
        }
        .silex-id-1606848206973-51 {top: 1800px; left: 260px; height: 20px; width: 120px;
        }
        .silex-id-1606482897372-30 {top: 750px; left: 190px; height: 20px; width: 180px;
        }
        .silex-id-1606482897364-29 {top: 750px; left: 140px; height: 30px; width: 30px;
        }
        .silex-id-1606482897360-28 {top: 740px; left: 90px; height: 30px; width: 30px;
        }
        .silex-id-1606482754220-23 {top: 690px; left: 90px; height: 30px; width: 30px;
        }
        .silex-id-1606482545289-22 {top: 640px; left: 140px; height: 30px; width: 30px;
        }
        .silex-id-1606482884165-26 {top: 700px; left: 140px; height: 30px; width: 30px;
        }
        .silex-id-1606480163371-15 {top: 640px; left: 190px; height: 20px; width: 180px;
        }
        .silex-id-1606848785801-66 {top: 700px; left: 190px; height: 20px; width: 100px;
        }
        .silex-id-1606848797107-67 {top: 700px; left: 200px; height: 20px; width: 100px;
        }
        .silex-id-1606848821201-70 {top: 700px; left: 220px; height: 20px; width: 40px;
        }
        .silex-id-1606848881707-74 {top: 700px; left: 230px; height: 20px; width: 20px;
        }
        .silex-id-1606848807606-68 {top: 700px; left: 240px; height: 20px; width: 100px;
        }
        .silex-id-1606848997116-75 {top: 670px; left: 200px; height: 30px; width: 20px; font-size: 20px;
        }
        .silex-id-1606849048711-79 {top: 670px; left: 310px; height: 30px; width: 20px; font-size: 20px;
        }
        .silex-id-1606849073862-81 {top: 680px; left: 203px; height: 20px; width: 20px;
        }
        .silex-id-1606849044276-78 {top: 670px; left: 250px; height: 30px; width: 20px; font-size: 20px;
        }
        .silex-id-1606849140289-82 {top: 680px; left: 253px; height: 20px; width: 20px;
        }
        .silex-id-1606849058053-80 {top: 680px; left: 313px; height: 20px; width: 20px;
        }
        .silex-id-1606848841543-71 {top: 700px; left: 280px; height: 20px; width: 40px;
        }
        .silex-id-1606848860363-73 {top: 700px; left: 290px; height: 20px; width: 20px;
        }
        .silex-id-1606848850564-72 {top: 700px; left: 336px; height: 20px; width: 40px;
        }
        .silex-id-1606849916130-91 {top: 1310px; left: 190px; height: 20px; width: 20px;
        }
        .silex-id-1606849922748-92 {top: 1310px; left: 290px; height: 20px; width: 20px;
        }
        .silex-id-1606849930246-93 {top: 1350px; left: 190px; height: 20px; width: 20px;
        }
        .silex-id-1606849937152-94 {top: 1350px; left: 290px; height: 20px; width: 20px;
        }
        .silex-id-1606849945685-95 {top: 1390px; left: 190px; height: 20px; width: 20px;
        }
        .silex-id-1606849957098-96 {top: 1390px; left: 290px; height: 20px; width: 20px;
        }
        .silex-id-1606849963010-97 {top: 1430px; left: 190px; height: 20px; width: 20px;
        }
        .silex-id-1606849968334-98 {top: 1430px; left: 290px; height: 20px; width: 20px;
        }
        .silex-id-1606849983958-99 {top: 1520px; left: 190px; height: 20px; width: 20px;
        }
        .silex-id-1606849990440-100 {top: 1520px; left: 290px; height: 20px; width: 20px;
        }
        .silex-id-1606849998399-101 {top: 1560px; left: 190px; height: 20px; width: 20px;
        }
        .silex-id-1606850003742-102 {top: 1560px; left: 290px; height: 20px; width: 20px;
        }
        .silex-id-1606850027937-103 {top: 1600px; left: 190px; height: 20px; width: 20px;
        }
        .silex-id-1606850034103-104 {top: 1640px; left: 190px; height: 20px; width: 20px;
        }
        .silex-id-1606850038382-105 {top: 1600px; left: 290px; height: 20px; width: 20px;
        }
        .silex-id-1606850043493-106 {top: 1640px; left: 290px; height: 20px; width: 20px;
        }
        .silex-id-1606850065475-107 {top: 1730px; left: 190px; height: 20px; width: 20px;
        }
        .silex-id-1606850071403-108 {top: 1730px; left: 290px; height: 20px; width: 20px;
        }
        .silex-id-1606850077496-109 {top: 1770px; left: 190px; height: 20px; width: 20px;
        }
        .silex-id-1606850082641-110 {top: 1770px; left: 290px; height: 20px; width: 20px;
        }
        .silex-id-1606850089922-111 {top: 1810px; left: 230px; height: 20px; width: 20px;
        }
        .silex-id-1606850106722-112 {top: 1850px; left: 170px; height: 20px; width: 20px;
        }
        .silex-id-1606850112320-113 {top: 1850px; left: 250px; height: 20px; width: 20px;
        }
        .silex-id-1606850116817-114 {top: 1850px; left: 330px; height: 20px; width: 20px;
        }
        .silex-id-1606848244468-60 {top: 1840px; left: 410px; height: 50px; width: 30px; font-size: 20px;
        }
        .background-initial {background-color: rgb(255, 255, 255); top: 20px; left: 154px; width: 566px; height: 2620px;
        }
        .silex-id-1606929863529-0 {top: 1900px; left: 30px; height: 20px; width: 390px;
        }
        .silex-id-1606850316432-117 {top: 2460px; left: 40px; height: 140px; width: 180px; box-sizing: content-box; padding: 0px; overflow: visible;
        }
        .silex-id-1606850300842-116 {top: 2460px; left: 240px; height: 140px; width: 306px;
        }
        .silex-id-1606849681078-89 {top: 2400px; left: 40px; height: 1.4em; width: 40px;
        }
        .silex-id-1606846089149-5 {top: 2400px; left: 100px; height: 20px; width: 180px;
        }
        .silex-id-1606849671177-87 {top: 2280px; left: 40px; height: 1.4em; width: 40px;
        }
        .silex-id-1606849675501-88 {top: 2340px; left: 40px; height: 1.4em; width: 40px;
        }
        .silex-id-1606846115590-6 {top: 2340px; left: 100px; height: 20px; width: 130px;
        }
        .silex-id-1606846174148-7 {top: 2280px; left: 100px; height: 20px; width: 230px;
        }
        .silex-id-1606849666025-86 {top: 2220px; left: 40px; height: 1.4em; width: 40px;
        }
        .silex-id-1606846269201-8 {top: 2220px; left: 100px; height: 20px; width: 220px;
        }
        .silex-id-1606849633355-85 {top: 2160px; left: 40px; height: 1.4em; width: 40px;
        }
        .silex-id-1606846365155-9 {top: 2160px; left: 100px; height: 20px; width: 240px;
        }
        .silex-id-1606849599408-84 {top: 2100px; left: 40px; height: 1.4em; width: 40px;
        }
        .silex-id-1606846055324-4 {top: 2100px; left: 100px; height: 20px; width: 180px;
        }
        .silex-id-1606845843105-1 {top: 2060px; left: 30px; height: 20px; width: 450px;
        }
        .silex-id-1606845815337-0 {top: 2010px; left: 50px; height: 20px; width: 340px;
        }
        .silex-id-1606930026543-2 {top: 1930px; left: 50px; height: 20px; width: 340px;
        }
        .silex-id-1606930148609-5 {top: 1900px; left: 30px; height: 20px; width: 390px;
        }
        .silex-id-1606930214987-6 {top: 1980px; left: 30px; height: 20px; width: 460px;
        }
        .silex-id-1606931113400-7 {top: 900px; left: 220px; height: 1.4em; width: 100px;
        }
    